
body {
    font-family: arial,sans-serif;
}

/*стиль для кнопок переходів по сторінках */
.head_search {
   text-align: right;
   
}
header >a {
    color: black;
    font-size: 14px;
    padding-right: 10px;
}

/* стиль для зображень Google головних меню*/
.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

/* стиль для Input введення головних меню*/
.form_input {
    text-align: left;
    padding-left: 20px;
    font-size: 16px;
    color: rgb(29, 29, 29);
    border: 1px solid rgb(234, 241, 241);
    border-color: rgb(192, 196, 196);
    height: 36px;
    border-radius: 42px;
    display: block;
    margin: auto;
    width: 40%; 
    box-decoration-break: clone;
    outline-color: rgb(234, 241, 241);
}
.form_input:hover {
    border: 1px solid rgb(131, 133, 133);
}


/* стиль для кнопок головних меню */
.buttoms {
    text-align: center;
    padding: 18px;
}
.buttoms input[type='submit'] {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    display: inline-block;
}
.buttoms>.form_submit:hover {
    background-color: #f8f9fa;
    border: 1px solid #8d8d8d;
}

/* стилі для розширеного пошука які включають:*/

    header>h3{
    color: #d93025;
    font-size: 20px;
    padding-left: 40px;
    }

/* стиль тексту для уточнення інформації розширеного пошуку */
.value_input{
    padding-left: 40px;
    display: inline-block;
    min-width: 167px;
    width: 16%;
    height: 42px;
    color: #222;
    font-size: 13px;
    line-height: 16px;
    vertical-align: middle;
}
/* стиль введення поля Input розширеного пошуку*/
.introduction_input{
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
    outline-color: rgb(69, 148, 250);
    width: 300px;
    display: inline-block;
    
}

/* стиль кнопки для підтвердження розширеного пошука */
.advanced_search{
text-align: center;
padding: 18px;
}
.advanced_search {
color: white;
height:30px;
background-color: #4d90fe;
border: #4288fa;
border-radius: 10px;
width: auto;
font-size: 14px;
margin: 10px 30%;
padding: 0 16px;
min-width: 54px;
text-align: center;
display: inline-block;
}
.advanced_search:hover{
    background-color: #3c72ca;
}